<ul class="nav justify-content-center">
    <li class="nav-item">
        <%= link_to "Students", users_path, { :class => 'nav-link' } %>
    </li>
    <li class="nav-item">
        <%= link_to "Professors", professors_path, { :class => 'nav-link' } %>
    </li>
    <li class="nav-item">
        <%= link_to "Courses", courses_path, { :class => 'nav-link' } %>
    </li>
</ul>