<div class="row">
    <% @professors.each do |professor| %>
    <div class="col-12 col-md-6 col-lg-4 p-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= "#{professor.first_name} #{professor.last_name}" %></h5>
                <p class="card-text">
                    Courses:
                    <% professor.courses.each do |course| %>
                    <%= "#{course.name} " %>
                    <% end %>
                </p>
                <%= link_to "About", professor_path(professor), :class => 'btn btn-outline-info' %>
            </div>
        </div>
    </div>
    <% end %>
</div>