<section class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-dark" type="button" id="button-addon1"><i class="fas fa-search"></i></button>
        </div>
        <input type="text" class="form-control" placeholder="Search courses" aria-label="Search" aria-describedby="basic-addon1">
    </div>
    <%= render  "courses/courses" %>
</section>