<div id="courses">
    <div class="bg-img"></div>
    <div class="card">
        <div class="card-body">
            <form action="/courses" method="GET">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Filter by course name or professor">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <%= render  "courses/courses" %>
</div>