<div class="landing" id="course">
    <div class="bg-img"></div>

    <div class="overlay">
        <%= render  "courses/course_card" %>
    </div>

</div>

<section class="container">
    <h2 class="section-title"><i class="fas fa-comments"></i> Comments</h2>
</section>