@import 'colors';
#course {
    text-align: center;
    .btn {
        width: 100%;
    }
    .card {
        min-width: 300px;
    }
    .link {
        color: $dark-blue;
        &:hover {
            color: $dark;
        }
    }
}

.course-header {
    padding: .5em;
    border-bottom: 2px $dark solid;
}