@import 'colors';
.landing {
    position: relative;
    min-height: 100vh;
}

.bg-img {
    background-image: url(image_path("bootcamp.jpg"));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.overlay {
    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        position: absolute;
        top: -70px;
        max-width: 500px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }
}

.navbar {
    background: $dark;
    border: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.card {
    color: $dark;
    &:hover {
        transition: 150ms ease-in;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }
}

.section-title {
    color: $primary;
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: .5em 0;
    }
}

.link {
    &:hover {
        text-decoration: none;
    }
}

.nav-tabs {
    .nav-item {
        .nav-link {
            color: $dark;
            font-size: 14pt;
            &.active {
                color: $accent;
            }
        }
    }
}