<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand text-danger" href="/">RAF Bootcamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><%= link_to "Home", home_path, :class => 'nav-link' %></li>
                <li class="nav-item"><%= link_to "Courses", courses_path, :class => 'nav-link' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><%= link_to "Log in", login_path, :class => 'nav-link' %></li>
                <li class="nav-item"><%= link_to "Sign up", signup_path, :class => 'nav-link' %></li>
            </ul>
        </div>
    </div>
</nav>